/* ==========================================================================
   Font Face
   ========================================================================== */
/* muli-200 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  src: url('muli-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-200.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-200.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-300 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('muli-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('muli-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-500 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 500;
  src: url('muli-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-500.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-600 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('muli-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-600.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('muli-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-800 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url('muli-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-800.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-900 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('muli-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-900.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-200italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 200;
  src: url('muli-v20-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-200italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-300italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: url('muli-v20-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-300italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('muli-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-500italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 500;
  src: url('muli-v20-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-500italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-600italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 600;
  src: url('muli-v20-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-600italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-700italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  src: url('muli-v20-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-700italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-800italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 800;
  src: url('muli-v20-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-800italic.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-900italic - latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 900;
  src: url('muli-v20-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('muli-v20-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('muli-v20-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('muli-v20-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('muli-v20-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('muli-v20-latin-900italic.svg#Muli') format('svg'); /* Legacy iOS */
}