@charset "utf-8";
/* CSS Document */

/*==================================
Commen CSS
================================= */
html {-webkit-text-size-adjust: none; min-height: 100%; height: 100%;}
body{ overflow-x: hidden; background: #f6f6f6; font-family: 'Muli', sans-serif; font-weight: 400;  height: 100%; font-size: 14px; }
h1, h2, h3, h4, h5, h6, ul, ol, li, form, input, textarea, select {margin: 0; padding: 0;}
img {border: 0;}
a {text-decoration: none; outline: none !important; outline-color: transparent !important;}
a:link, a:hover {text-decoration: none;  -moz-transition: all 1s ease-in; -webkit-transition: all 1s ease-in; -o-transition: all 1s ease-in; transition: all 1s ease-in;}

.mtp0 {margin-top:0px;}
.mtp5 {margin-top:5px;}
.mtp10 {margin-top:10px;}
.mtp15 {margin-top:15px;}
.mtp20 {margin-top:20px;}
.mtp25 {margin-top:25px;}
.mtp30 {margin-top:30px;}
.mtp35 {margin-top:35px;}
.mtp40 {margin-top:40px;}
.mtp45 {margin-top:45px;}

.mbp0 {margin-bottom:0px;}
.mbp5 {margin-bottom:5px;}
.mbp10 {margin-bottom:10px;}
.mbp15 {margin-bottom:15px;}
.mbp20 {margin-bottom:20px;}
.mbp25 {margin-bottom:25px;}
.mbp30 {margin-bottom:30px;}
.mbp35 {margin-bottom:35px;}
.mbp40 {margin-bottom:40px;}
.mbp45 {margin-bottom:45px;}

.ptp0 {padding-top:0px;}
.ptp5 {padding-top:5px;}
.ptp10 {padding-top:10px;}
.ptp15 {padding-top:15px;}
.ptp20 {padding-top:20px;}
.ptp25 {padding-top:25px;}
.ptp30 {padding-top:30px;}
.ptp35 {padding-top:35px;}
.ptp40 {padding-top:40px;}
.ptp45 {padding-top:45px;}

.pbp0 {padding-bottom:0px;}
.pbp5 {padding-bottom:5px;}
.pbp10 {padding-bottom:10px;}
.pbp15 {padding-bottom:15px;}
.pbp20 {padding-bottom:20px;}
.pbp25 {padding-bottom:25px;}
.pbp30 {padding-bottom:30px;}
.pbp35 {padding-bottom:35px;}
.pbp40 {padding-bottom:40px;}
.pbp45 {padding-bottom:45px;}

.font-size12 { font-size: 12px; }
.font-size14 { font-size: 14px; line-height: 20px; }
.font-size16 { font-size: 16px; }
.font-size18 { font-size: 18px; line-height: 23px; }
.font-size20 { font-size: 20px; }
.font-size22 { font-size: 22px; }
.font-size24 { font-size: 24px; }
.font-size26 { font-size: 26px; }
.font-size28 { font-size: 28px; }
.font-size29 { font-size: 29px; }
.font-size30 { font-size: 30px; }
.font-size32 { font-size: 32px; }
.font-size34 { font-size: 34px; }

.font-w100 { font-weight:100}
.font-w100 { font-weight:200}
.font-w300 { font-weight: 300; }
.font-w400 {  font-weight: 400; }
.font-w500 {  font-weight: 500; }
.font-w600 {  font-weight: 600; }
.font-w700 {  font-weight: 700; }
.font-w100 { font-weight:800}
.font-w900 {  font-weight: 900; }

/*===== Gutter Size ======*/
/* 20px gutter*/
.gutter-20.row { margin-right:-10px; margin-left:-10px;}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] { padding-right:10px; padding-left:10px;}
/* 10px gutter */
.gutter-5.row { margin-right:-4px; margin-left:-4px;}
.gutter-5 > [class^="col-"], .gutter-5 > [class^=" col-"] { padding-right:4px; padding-left:4px;}
/* 10px gutter */
.gutter-10.row { margin-right:-5px; margin-left:-5px;}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] { padding-right:5px; padding-left:5px;}
/* 0px gutter */
.gutter-0.row { margin-right:0; margin-left:0;}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"] { padding-right:0; padding-left:0;}
.z-index{ z-index: 2; }
.container{max-width: 1280px;}

.loading { background-color: rgba(0, 0, 0, 0.5); z-index: 10; position: fixed; left: 0; top: 0; right: 0; bottom: 0; }
.vhmain { display: table; text-align: center; height: 100vh; width: 100%; }
.vhin { vertical-align: middle; text-align: center; display: table-cell; width: 100%; }
.ldbox { background: #000; padding: 15px; min-width: 150px; display: inline-block; border-radius: 10px; }
.ldbox span { display: block; margin-top: 15px; color: #fff; font-weight: bold; font-size: 15px; font-family: Arial; }

/*==================================
Header CSS
================================= */

/*==================================
Banner CSS
================================= */

/*==================================
Content CSS
================================= */
/*---Landing Page CSS---*/
.login-topbar{ position: relative; z-index: 9;}
.login-topbar.sticky{ position: fixed; background: #3e86b9; left: 0px; right: 0px;}
.login-topbar.sticky + .ld-section { padding-top: 75px; }

.ld-slider{ height: 100vh; width: 100%; z-index: 1; background: #dedede; position: absolute!important; left: 0px; right: 0px; bottom: 0px; top: 0px; position: fixed!important; }
.ld-slider div{ height: 100vh; }
.ld-section{ height:calc(100% - 74px); }
.login-dropdown{ display: inline-block;}
.login-dropdown .dropdown-menu .max-height{ max-height: calc(61vh - 0px); overflow-x: auto;}
.login-dropdown a.dropdown-toggle::after { display:none; }
.login-dropdown a.dropdown-toggle{ display: inline-block; padding: 15px 8px; margin-top:2px; margin-left: 8px; margin-right:0px; color: #fff; font-size: 18px;}
.login-dropdown .dropdown-menu{  min-width: 300px; border-radius: 8px;  padding-bottom: 0px; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75); box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);  }
.login-dropdown .dropdown-menu form{  padding: 20px 15px 8px;  }
.login-dropdown .dropdown-menu:before { content:""; position: absolute; right: 25px; top: -10px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #fff transparent; z-index:9999; }
.loginlogo{ display: inline-block; padding: 15px 0px;}
.searchbox{ margin-top: 70px; max-width: 590px; margin:0 auto; }
.searchbox.smallspace{ margin-top:20px; }
.searchbox .input-group{ border: 0px; border-radius: 6px; overflow: hidden; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75); box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75); z-index: 2; }
.searchbox .input-group input{ margin:0 auto; border: 0px; padding: 25px; border: 0px!important; font-size: 17px;  }
.searchbox .input-group .btn{ padding-top: 11px; padding-bottom: 11px; padding-right: 18px; background: #fff!important; border: 0px!important; outline: none!important; box-shadow: none!important; font-size: 20px; }
.search-text{ font-size: 22px; line-height: 28px; color: #fff; padding-bottom: 8px; font-weight: 600; margin-bottom: 10px;  }
.search-text span{ font-weight: 700; }
.login-form-style input{ padding:20px 10px;  }

.signinbtn, .signinbtn:hover, .signinbtn:focus{ background:#4086bd; padding: 7px 18px; color: #fff; font-weight: 600; font-size: 16px; border-color:#4086bd; border-radius: 0px; outline: none; text-shadow: none;   }
.sociallink{ padding-left: 15px; padding-right: 15px; margin-top: 10px; margin-bottom: 10px; }
.sociallink a{ display: block; padding: 12px 23px; border-bottom: solid 1px #dedede; max-width: 220px; text-align: left; margin: 0 auto;  }
.sociallink span{ font-size: 14px; font-weight: 500; }
.sociallink a:last-child{ border-bottom: 0px; }
.forgot-link{ font-size: 13px; padding-top: 3px; padding-bottom: 3px; }
.sociallink a i{ margin-right: 8px; font-size: 16px; }
.sociallink a.gp{ color:#d35e5e; }
.sociallink a.fb{ color:#3b5998; }
.signupbg{ background: #ebebeb; padding: 15px 0px; color: #929292; border-top: solid 1px #d7d7d7; border-radius: 0 0 8px 8px; font-size: 13px; }
.signupbg a{ color: #000000; }
.login-form-style .form-check-label{font-size: 13px; }
.login-form-style .form-check-input{ margin-top: 6px;}

/*=== Card Grid CSS === */
.font-red{color:#d11e1e;}
.font-blue{color:#324bcc;}
.font-italic{font-style:italic;}
.text-grey{color:#979696;}
.text-lightgrey{color:#585858;}
.title-font{font-size:22px;font-weight:700;}
.subtitle-font{font-size:18px;font-weight:700;}
.day-night{position:absolute;color:#fff;background:rgba(0,0,0,0.6);text-align:center;top:10px;right:10px;font-size:11px;padding:5px 7px;border-radius:5px;}
.card-img{ height: 150px; overflow: hidden; border-radius: 0; }

/*==================================
Footer CSS
================================= */


@media (min-width: 576px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */
    /*---Landing Page CSS---*/
    .login-dropdown a.dropdown-toggle{ margin-top:7px; margin-right: 8px; }

    /*==Footer CSS== */
}

@media (min-width: 768px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */
     .card-img{ height: 140px; }
    .search-text{ padding-bottom: 10px; margin-bottom: 18px; }

    /*==Footer CSS== */
}

@media (min-width: 992px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 1100px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */
    /*---Landing Page CSS---*/
    .searchbox{ margin-top: 110px; }
    .searchbox.smallspace{ margin-top:30px; }
    
    .card-img{ height: 170px; }
    /*==Footer CSS== */
}

@media (min-width: 1200px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}

@media (min-width: 1600px) {
    /*==Header CSS== */

    /*==Banner CSS== */

    /*==Content CSS== */

    /*==Footer CSS== */
}